.countryName, .currencyLabel, .borders { font-weight: bold; }

.countryName::after, .borders::after { content: ':'; }
.borderList::after                   { content: '.'; }

.capital, .currencyData, .borderList { margin-bottom: 1em; }

.flag { height: 100px; }